---
- name: Copy Node Exporter binary and service file
  copy:
    src: "template/monitor/{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode | default('0644') }}"
  loop:
    - { src: "node_exporter", dest: "/usr/local/bin/node_exporter", mode: '0755' }
    - { src: "node_exporter.service", dest: "/etc/systemd/system/node_exporter.service" }

- name: Create node_exporter user
  user:
    name: node_exporter
    shell: /bin/false
    system: yes
    create_home: no

- name: Создать директории для snmp_exporter
  file:
    path: "/etc/snmp_exporter"
    state: directory
    mode: '0755'



  notify:
    - start_exp
