---
- name: Install packages
  apt:
    name: "{{ item }}"
    state: present
    update_cache: true
  become: true
  loop:
    - vim
    - nftables
    - frr
    - curl
    - wget
    - ca-certificates
    - apt-transport-https
    - unzip
    - net-tools
