prometheus_targets:
      - job_name: "prometheus"
        static_configs:
          - targets: ['localhost:9090']
      - job_name: "node_exporter"
        scrape_interval: 5s
        static_configs:
          - targets: ['localhost:9100']
