---
# #- name: all setting
#   hosts: dnsSrv
#   gather_facts: true
#   become: True
#
#   roles:
#   - 0_installangie
#
# - name: all setting
#   hosts: all
#   gather_facts: true
#   become: True
#
#   roles:
#   - 0_set_all
# Настройка DNS and Angie
# Имеет выход в интернет, подключение всей сети через него
# Ансибл подключается к машинам из dmz  зоны через него
- name: Set server DNS and Angie
  hosts: dnsSrv
  gather_facts: true
  become: True

  roles:
  - 1_set_dnsSrv

#Настройка серверов
- name: Set servers
  hosts: ipdmz
  gather_facts: true
  become: True

  roles:
  - 2_clients

#Настройка серверов
- name: Set DB
  hosts: db
  gather_facts: true
  become: True

  roles:
  - 3_db
  tags: db

- name: all setting
  hosts: "web"
  gather_facts: true
  become: True

  roles:
  - 0_installangie
  tags: wb1

- name: Set web
  hosts: web
  gather_facts: true
  become: True

  roles:
  - 4_web
  tags: wb

- name: Set monitor with backup
  hosts: monitor
  gather_facts: true
  become: True

  roles:
  - 5_monitor
  tags: mon
