---
- name: Установка LAMP-стека
  apt:
    name: "{{ item }}"
    state: present
  loop:
    - mysql-client
    - php
    - php-mysql
    - php-curl
    - php-gd
    - php-mbstring
    - php-xml
    - php-zip
