---
# - name: Скачать WordPress
#   get_url:
#     url: https://wordpress.org/latest.tar.gz
#     dest: /tmp/wordpress.tar.gz
- name: Скачать WordPress
  copy:
    src: "template/web/wordpress-6.9.tar.gz"
    dest: /tmp/wordpress.tar.gz

- name: Распаковать WordPress
  unarchive:
    src: /tmp/wordpress.tar.gz
    dest: /var/www/
    remote_src: yes

- name: Настроить права
  file:
    path: /var/www/wordpress
    owner: www-data
    group: www-data
    mode: '0755'
    recurse: yes
