- name: Создаем скрипт для проверки доступности db-master
  copy:
    content: |
      #!/bin/bash
      if ! mysqladmin ping -h {{ ip_db-master }} -u {{ user_wordpress }} -p {{ mysql_wp_password }} --silent; then
        sed -i 's/{{ ip_db-master }}/{{ ip_db_slave }}/g' {{ site }}/wp-config.php
      fi
    dest: /usr/local/bin/check-db.sh
    mode: '0755'

- name: Добавляем cron для проверки базы данных
  cron:
    name: "Check database availability"
    job: "/usr/local/bin/check-db.sh"
    minute: "*/1"
