---
- name: restart_nft
  systemd:
    name: nftables
    enabled: yes
    state: restarted

- name: start_mysql
  systemd:
    name: mysql
    state: started
    enabled: yes
  become: true

- name: restart_mysql
  systemd:
    name: mysql
    state: restarted
    enabled: yes
  become: true
