---
- name: Создать группу prometheus
  group:
    name: prometheus
    system: yes

- name: Создать пользователя prometheus
  user:
    name: prometheus
    system: yes
    group: prometheus
    shell: /sbin/nologin
    home: /var/lib/prometheus

- name: Создать директории для Prometheus
  file:
    path: "{{ item }}"
    state: directory
    owner: prometheus
    group: prometheus
    mode: '0755'
  loop:
    - /etc/prometheus
    - /var/lib/prometheus

- name: Get Prometheus
  copy:
    src: "template/monitor/prometheus3.8.1.tar.gz"
    dest: /tmp/prometheus.tar.gz

- name: Unarchive
  unarchive:
    src: /tmp/prometheus.tar.gz
    dest: /tmp/
    remote_src: yes

- name:  files
  copy:
    src: "/tmp/prometheus-3.8.1.darwin-amd64/{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: prometheus
    group: prometheus
    mode: '0755'
    remote_src: yes
  loop:
    - { src: "promtool", dest: "/usr/local/bin/prometheus" }
    - { src: "prometheus", dest: "/usr/local/bin/promtool" }

- name:  unit
  template:
    src: "/template/monitor/prometheus.service.j2"
    dest: "/etc/systemd/system/prometheus.service"
    mode: '0644'
    remote_src: yes
  become: true

- name:  prometheus.yml
  template:
    src: "/template/monitor/prometheus.yml.j2"
    dest: "/etc/prometheus/prometheus.yml"
    mode: '0644'
  become: true

- name: Удалить временные файлы
  file:
    path: "/tmp/prometheus-{{ prometheus_version }}.linux-amd64.tar.gz"
    state: absent

  notify:
    - restart_sys
    - start_prometheus
