;
; BIND reverse zone linuxpro
;
$TTL 604800
@  IN  SOA   dnsSrv.linuxpro. root.linuxpro. (
                              2711201437   ; Serial
                              3600         ; Refresh (1 hour)
                              600          ; Retry (10 minutes)
                              2419200      ; Expire (1 day)
                              604800 )     ; Minimum TTL (10 minutes)

              ; Зона и сервер имен
@   IN   NS   dnsSrv.linuxpro.
10  IN   PTR  dnsSrv.linuxpro.
90  IN   PTR  monitor.linuxpro.
31  IN   PTR  web1.linuxpro.
32  IN   PTR  web2.linuxpro.
51  IN   PTR  db-master.linuxpro.
52  IN   PTR  db-slave.linuxpro.
