nameserver 192.168.56.10
search linuxpro

#nameserver — IP-адрес сервера имён, на который перенаправляются
#все DNS-запросы
#domain — локальное доменное имя
#search — список поиска. По умолчанию содержит только имя локального домена
