nameserver 10.10.1.10
search linuxpro my.linuxpro

#nameserver — IP-адрес сервера имён, на который перенаправляются
#все DNS-запросы
#domain — локальное доменное имя
#search — список поиска. По умолчанию содержит только имя локального домена
