---
- name: Загрузить mysql_native_password (встроенный плагин)
  mysql_query:
    query: "INSTALL PLUGIN mysql_native_password SONAME '';"
    login_unix_socket: /var/run/mysqld/mysqld.sock
  become: yes
  ignore_errors: yes  # игнорируем, если уже загружен
  register: mysql_native_password_loaded
  notify:
    - restart_mysql

- name: Сменить плагин root на mysql_native_password
  mysql_query:
    query: |
      ALTER USER 'root'@'localhost'
      IDENTIFIED WITH mysql_native_password BY '{{ mysql_root_password }}';
    login_unix_socket: /var/run/mysqld/mysqld.sock
  become: yes
  ignore_errors: yes

  notify:
    - restart_mysql
