---
- name: Add wpadmin for db wordpress
  mysql_query:
    query: |
      CREATE USER IF NOT EXISTS '{{ user_adm }}'@'10.10.1.%'
      IDENTIFIED BY '{{ adm_pass }}';
    login_unix_socket: "{{ unix_socket }}"
  become: yes

- name: GRAND for  wpuser
  mysql_query:
    query: |
      GRANT SELECT PRIVILEGES ON mysql.* TO '{{ user_adm }}'@'10.10.1.%'
      WITH GRANT OPTION;
    login_unix_socket: "{{ unix_socket }}"
  become: yes

- name: Add wpuser for db wordpress
  mysql_query:
    query: "FLUSH PRIVILEGES;"
    login_unix_socket: "{{ unix_socket }}"
  become: yes
