---
- name: Создать пользователя repl на master
  mysql_query:
    query: |
      CREATE USER IF NOT EXISTS 'repl'@'10.10.1.52'
      IDENTIFIED BY '{{ mysql_repl_password }}';
    login_unix_socket: /var/run/mysqld/mysqld.sock
  become: true

- name: GRAND SLAVE for repl на master
  mysql_query:
    query: |
      GRANT REPLICATION SLAVE ON *.* TO 'repl'@'10.10.1.52';
    login_unix_socket: /var/run/mysqld/mysqld.sock
  become: true

- name: FLASH for repl на master
  mysql_query:
    query: "FLUSH PRIVILEGES;"
    login_unix_socket: /var/run/mysqld/mysqld.sock
  become: true


# - name: Создать пользователя repl на master
#   mysql_user:
#     name: repl
#     host: '10.10.1.52'
#     password: "{{ mysql_repl_password }}"
#     priv: "REPLICATION SLAVE"
#     state: present
#     plugin: mysql_native_password
#     login_unix_socket: /var/run/mysqld/mysqld.sock
#   become: true


#CREATE USER 'replica_user'@'replica_server_ip'
#IDENTIFIED WITH mysql_native_password BY 'password';
