---
- name: update_cache
  apt:
   update_cache: yes
   cache_valid_time: 3600

- name: Install deb
  apt:
    deb: https://repo.percona.com/apt/percona-release_latest.generic_all.deb

- name: Install packages
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  become: true
  loop:
    - gnupg2
    - lsb-release
    - python3-pymysql

- name: Обновляем кэш APT
  apt:
    update_cache: yes

- name: Set_repository
  ansible.builtin.command:
  args:
    cmd: "{{ item }}"
  loop:
    - sudo percona-release enable pdps-8x-innovation
    - percona-release enable tools release
  become: true

- name: Обновляем кэш APT
  apt:
    update_cache: yes

- name: Устанавливаем Percona Server и клиент
  apt:
    name:
      - percona-server-server
      - percona-server-client
    state: present
  become: true
