---
- name: Add config MySql
  template:
    src: "template/db/mysqld.cnf.j2"
    dest: /etc/mysql/conf.d/mysql.cnf
    owner: root
    group: root
    mode: '0644'
  become: true
  notify:
    - start_mysql

# - name: Устанавливаем пароль root
#   ansible.builtin.mysql_user:
#     name: root
#     password: "{{ mysql_root_password }}"
#     priv: "*.*:ALL"
#     state: present

  # Перехватываем первую установку (без пароля):
  ignore_errors: yes

- name: Удаляем анонимных пользователей
  mysql_user:
    name: ""
    host: "{{ item }}"
    state: absent
    login_unix_socket: /var/run/mysqld/mysqld.sock
  loop: ["localhost", "{{ ansible_hostname }}"]
  become: true

- name: Удаляем тестовую БД
  mysql_db:
    name: test
    state: absent
    login_unix_socket: /var/run/mysqld/mysqld.sock
  become: true

  notify:
    - restart_mysql
