---
- name: Конфигурация TLS сертификата
  template:
    src: "template/angie/{{ item }}"
    dest: "/etc/angie/ssl/"
    owner: root
    group: bind
    mode: '0644'
  loop:
    - linuxpro.my.crt
    - linuxpro.my.key

- name: Add Angie repository key
  ansible.builtin.get_url:
    url: "https://angie.software/keys/angie-signing.gpg"
    dest: "/etc/apt/trusted.gpg.d/angie-signing.gpg"
    mode: '0644'

- name: Add Angie repository
  ansible.builtin.apt_repository:
    repo: >-
      deb https://download.angie.software/angie/{{ ansible_distribution | lower }}/{{ ansible_distribution_version }}
      {{ ansible_distribution_release }} main
    state: present

- name: Installing angie with extra modules
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
    update_cache: true
    lock_timeout: 600
  ignore_errors: yes
  loop:
    - angie
    - angie-module-zstd
    - angie-module-brotli
