#!/usr/sbin/nft -f
flush ruleset

table inet filter {
    chain input {
        type filter hook input priority 0; policy accept;

        # Разрешаем loopback
        iif "lo" accept

        # Установленные соединения
        ct state established,related accept

        # ICMP (ping) и OSPF
        ip protocol icmp accept
        ip protocol ospf accept

        ### HTTP/HTTPS (для Grafana, Prometheus и SNMP Exporter)
        # Для хостов в сети 192.168.56.0/24
        ip saddr 192.168.56.0/24 tcp dport { 3000, 9090, 9100, 9116 } accept

        # Для хостов в сети 10.10.1.0/24
        ip saddr 10.10.1.0/24 tcp dport { 9100, 9116, 9090, 3000 } accept

        ### SSH
        # Разрешаем SSH только из сети 192.168.56.0/24
        ip saddr 192.168.56.0/24 tcp dport 22 accept
    }

    chain forward {
        type filter hook forward priority 0; policy drop;
    }

    chain output {
        type filter hook output priority 0; policy accept;
    }
}
