#!/usr/sbin/nft -f
flush ruleset

table inet filter {
    chain input {
        type filter hook input priority 0; policy drop;
        iif "lo" accept
        ct state established,related accept
        ip protocol icmp accept

        # SSH из DMZ и host-only
        ip saddr { 192.168.56.0/24, 10.10.1.0/24 } tcp dport 22 accept


        ip saddr { 192.168.56.0/24, 10.10.1.0/24 } udp dport 53 \
          limit rate 20/second burst 30 packets accept
        ip saddr { 192.168.56.0/24, 10.10.1.0/24 } tcp dport 53 accept

        # Angie
        tcp dport { 80, 443 } accept
        ### MySQL — только из DMZ
        iifname "enp0s8" ip saddr 10.10.1.0/24 tcp accept
        iifname "enp0s8" ip saddr 10.10.1.0/24 tcp dport 3306 accept

        # Мониторинг
        ip saddr 10.10.1.0/24 tcp dport 9100 accept
        {% if inventory_hostname == 'monitor' %}
        ip saddr 10.10.1.0/24 tcp dport 3000 accept
        {% endif %}

        # MySQL (только для БД)
        {% if inventory_hostname in ['db_master', 'db_slave'] %}
        ip saddr 10.10.1.0/24 tcp dport 3306 accept
        {% endif %}
    }

    chain forward {
        type filter hook forward priority 0; policy drop;
        ip saddr 10.10.1.0/24 oifname "enp0s3" accept
        ct state established,related accept
    }

    chain output {
        type filter hook output priority 0; policy accept;
    }
}

table ip nat {
    chain postrouting {
        type nat hook postrouting priority 100; policy accept;
        ip saddr 10.10.1.0/24 oifname "enp0s3" masquerade
    }
}
