#!/usr/sbin/nft -f
flush ruleset

table inet filter {
    chain input {
        type filter hook input priority 0; policy accept;

        # Разрешаем loopback
        iif "lo" accept

        # Установленные соединения
        ct state established,related accept

        # ICMP (ping)
        ip protocol icmp accept
        ip protocol ospf accept

        # SSH из DMZ и host-only сетей
        ip saddr { 192.168.56.0/24, 10.10.1.0/24 } tcp dport 22 accept

        # DNS (UDP и TCP)
        ip saddr { 192.168.56.0/24, 10.10.1.0/24 } udp dport 53 limit rate 20/second burst 30 packets accept
        ip saddr { 192.168.56.0/24, 10.10.1.0/24 } tcp dport 53 accept

        # Веб-сервер (HTTP/HTTPS)
        tcp dport { 80, 443 } accept

        # Мониторинг (Node Exporter)
        ip saddr { 192.168.56.0/24, 10.10.1.0/24 } tcp dport 9100 accept
        # Мониторинг (SNMP Exporter)
        ip saddr { 192.168.56.0/24, 10.10.1.0/24 } tcp dport 9116 accept
        # База данных (MySQL)
        ip saddr { 192.168.56.0/24, 10.10.1.0/24 } tcp dport 3306 accept
    }

    chain forward {
        type filter hook forward priority 0; policy drop;
    }

    chain output {
        type filter hook output priority 0; policy accept;
    }
}
