<?php
define('DB_NAME', '{{ database }}');
define('DB_USER', '{{ user_wordpress }}');
define('DB_PASSWORD', '{{ mysql_wp_password }}');
define('DB_HOST', '{{ ip_db-master }}');
define('DB_CHARSET', 'utf8');
define('DB_COLLATE', '');

$table_prefix = 'wp_';

if (!defined('ABSPATH')) {
    define('ABSPATH', __DIR__ . '/');
}

require_once ABSPATH . 'wp-settings.php';
